@import url("fonts.css");
@import url("reset.css");


/* головні стилі */
/*************  header block ************/
body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
}

.header-container {
    max-width: 1230px;
    padding: 100px 15px;
    margin: 0 auto;
}

.header-text-content {
    display: inline-block;
    max-width: 563px;
    padding: 21px 0 21px 0;
    margin-right: 38px;
}

.header-intro {
    font-size: 28px;
    color: #D06B00;
    margin-bottom: 13px;
    text-transform: uppercase;
}

.header-title {
    font-family: "DM Serif Text";
    color: #0E333D;
    font-size: 59px;
    line-height: 1.46; /* 86.435/59 */
    margin-bottom: 25px;
    text-transform: capitalize;
}

.header-text {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    line-height: 1.8; /* 36/20 */
}

.content-img-jewels {
    margin-right: 22px;
}

.content-img {
    border-radius: 5px;
}

.header-img-content {
    display: inline;
}

/*************  main block ************/
.hero-container {
    max-width: 730px;
    padding: 100px 15px;
    margin: 0 auto;
}

.hero-img {
    margin-bottom: 37px;
    max-width: 100%;
}

.hero-title {
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600px;
    color: #37393F;
    line-height: 1.27; /* 38.1/30 */
    text-transform: capitalize;
    margin-bottom: 12px;
}

.hero-text {
    line-height: 1.46; /* 26.314/18 */
    margin-bottom: 40px;
}

.hero-subtitle {
    font-family: "Poppins";
    font-size: 20px;
    color: #6B77E5;
    line-height: 1.27; /* 25.4/20 */
    margin-bottom: 20px;
}

.hero-benefits {
    display: inline;
}

.benefits-text {
    display: inline-block;
    max-width: 332px;
}

.benefits-img {
    margin-right: 29px;
    max-width: 330px;
}

.benefits-title {
    font-family: "Poppins";
    font-size: 25px;
    color: #37393F;
    line-height: 1.27; /* 31.75/25 */
    margin-bottom: 15px;
}

.benefits-subtitle {
    font-family: "Poppins";
    font-size: 20px;
    color: #40DDB6;
    line-height: 1.27; /* 31.75/25 */
    margin-bottom: 21px;
}

.list-item {
    margin-bottom: 30px;
}

footer.footer-year {
    text-align: center;
}
