/* підключення шрифтів вручну */
@font-face {
    font-family: "SourceSansPro";
    src:
        url(../fonts/AnyConv.com__SourceSansPro-Regular.woff2) format("woff2"),
        url(../fonts/AnyConv.com__SourceSansPro-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SourceSansPro";
    src:
        url(../fonts/AnyConv.com__SourceSansPro-SemiboldIt.woff2) format("woff2"),
        url(../fonts/AnyConv.com__SourceSansPro-SemiboldIt.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "SourceSansPro";
    src:
        url(../fonts/AnyConv.com__SourceSansPro-BoldIt.woff2) format("woff2"),
        url(../fonts/AnyConv.com__SourceSansPro-BoldIt.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
